Working with Vectors in R

Create vector ‘class’ to store the class names ‘class1’,’class2’,…,’class5’

In [16]:
class  <- c('class1','class2','class3','class4','class5')

Use assign() function to create a vector ‘avg’ to store the average marks.

In [6]:
assign("avg",c(90,55,46,34,80))
avg

[1] 90 55 46 34 80

Display the average mark of class2.

In [7]:
avg[c(2)]

[1] 55

In [ ]:
Display all the average marks except class 2.

In [8]:
avg[c(1,3,4,5)]

[1] 90 46 34 80

Access the average mark of class4 by its name.

In [19]:
names(avg) <- c("class1","class2","class3","class4","class5")

print(avg[c(4)])

class4
    34

In [30]:
marks  <- data.frame(class,avg)
marks

       class  avg
class1 class1 90
class2 class2 55
class3 class3 46
class4 class4 34
class5 class5 80

Find the minimum average mark and print the class which scored it.

In [36]:
marks$class[marks$avg==min(marks$avg)]

[1] class4
Levels: class1 class2 class3 class4 class5

Find the maximum average mark and print the class which scored it.

In [37]:
marks$class[marks$avg==max(marks$avg)]

[1] class1
Levels: class1 class2 class3 class4 class5

Find the total of average marks scored by all classes.

In [41]:
s  <- marks$avg[marks$avg==sum(marks$avg)]
s

numeric(0)

Find the total of average marks scored by all classes.

In [44]:
sum(avg)

[1] 305

In [ ]:
Find the mean of the average marks scored by all classes.

In [45]:
mean(avg)

[1] 61

Find the standard deviation of the average marks scored by all classes.

In [46]:
sd(avg)

[1] 23.4094

Arrange the average marks in ascending order.

In [47]:
sort(avg)

class4 class3 class2 class5 class1
    34     46     55     80     90

Create a vector classes by repeat the vector class twice.

In [50]:
classes  <- rep(c(class), times = 2)
classes

 [1] "class1" "class2" "class3" "class4" "class5" "class1" "class2" "class3"
 [9] "class4" "class5"

Create a vector marks by repeating each average mark twice.

In [51]:
marks1  <- rep(c(avg), times = 2)
marks1

class1 class2 class3 class4 class5 class1 class2 class3 class4 class5
    90     55     46     34     80     90     55     46     34     80

Create a vector ‘report’ by adding the vector ‘avg’ with a sequence of 10 to 1 and find its length.

In [53]:
report  <- c(avg,10:1)
report
length(report)

class1 class2 class3 class4 class5
    90     55     46     34     80     10      9      8      7      6      5

     4      3      2      1

[1] 15

dentify the classes for which average marks>70.

In [54]:
marks$class[marks$avg>70]

[1] class1 class5
Levels: class1 class2 class3 class4 class5

Create a vector ‘random’ by generating 5 random numbers between minimum value and maximum value of vector ‘avg’.

In [55]:
random  <- runif(5,min(marks$avg),max(marks$avg))
random

[1] 69.29693 47.54907 77.69837 83.84940 84.20516

Create a list to maintain the details of a student such as registration number, name, 
no. of courses registered and marks in each subject.

In [71]:
details=list(regno="20MCS100",name="ann",num_of_course=6,sub1=88,sub2=93,sub3=90,sub4=78,sub5=85,sub6=46)
details

$regno
[1] "20MCS100"

$name
[1] "ann"

$num_of_course
[1] 6

$sub1
[1] 88

$sub2
[1] 93

$sub3
[1] 90

$sub4
[1] 78

$sub5
[1] 85

$sub6
[1] 46

Retrieve the name of the students.

In [72]:
print(details$name)

[1] "ann"

Extract only the registration number and the marks of the students.

In [73]:
print(details[c(1,4)])

$regno
[1] "20MCS100"

$sub1
[1] 88

 Access the mark in the first course registered.
Modify the mark entry in the last course as 5 more than the existing mark.

In [74]:
details$sub1

[1] 88

In [76]:

details[8]<-(details$sub5)+5
details[8]

$sub5
[1] 95