ANOVA & Correlation analysis

In [1]:
my_data <- PlantGrowth

In [3]:
head(my_data)

  weight group
1 4.17   ctrl
2 5.58   ctrl
3 5.18   ctrl
4 6.11   ctrl
5 4.50   ctrl
6 4.61   ctrl

In [4]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [5]:
#  To Show a random sample
set.seed(1234)
sample_n(my_data, 10)

   weight group
1  6.15   trt2
2  3.83   trt1
3  5.29   trt2
4  5.12   trt2
5  4.50   ctrl
6  4.17   trt1
7  5.87   trt1
8  5.33   ctrl
9  5.26   trt2
10 4.61   ctrl

Compututing summary statistics by groups like count, mean, sd:

In [6]:
group_by(my_data, group) %>%
  summarise(
    count = n(),
    mean = mean(weight, na.rm = TRUE),
    sd = sd(weight, na.rm = TRUE)
  )

  group count mean  sd
1 ctrl  10    5.032 0.5830914
2 trt1  10    4.661 0.7936757
3 trt2  10    5.526 0.4425733

Visualize your data

In [7]:
library(ggplot2)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

In [8]:
ggboxplot(my_data, x = "group", y = "weight", 
          color = "group", palette = c("#00AFBB", "#E7B800", "#FC4E07"),
          order = c("ctrl", "trt1", "trt2"),
          ylab = "Weight", xlab = "Treatment")

ERROR: Error in ggboxplot(my_data, x = "group", y = "weight", color = "group", : could not find function "ggboxplot"